body {
  font-family: "Fira Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-weight: 100;
}

.T1_Color {
  color: rgba(255, 0, 0, 0.7);
}

.T2_Color {
  color: rgba(0, 0, 255, 0.7);
}
