.MatchInfo {
  margin: 0 auto;
  .Meta {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .T {
      display: flex;
      flex-direction: row;
      text-align: center;
      flex: 1;
      .Name {
        height: 80px;
        margin: 3px 5px;
        margin-top: 10px;
        font-size: 44px;
        width: 300px;
        text-align: right;
      }
      .Crest {
        width: 80px;
        height: 80px;
        // opacity: 0.7;
        Img {
          width: 80px;
          height: 80px;
        }
      }
      .T2 {
      }
    }
    .Score {
      display: flex;
      justify-content: center;
      margin: 0 20px;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}
