.MatchInfo {
  margin: 0 auto;
  .Meta {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .T {
      display: flex;
      flex-direction: row;
      text-align: center;
      .Name {
        height: 100px;
      }
      .Crest {
        margin: 0 auto;
        width: 100px;
        height: 100px;
      }
    }
  }
  .Score {
    display: flex;
    justify-content: center;
  }
}
