@font-face {
  font-family: mySecondFont;
  src: url(font1.otf);
  // src: url();
}

.TeamInfo {
  font-family: mySecondFont;

  margin: 0 10px;
  .Lignup {
    width: 450px;
    background-color: rgba(0, 0, 0, 0.01);
    border-collapse: collapse;

    .Head {
      padding: 20px 10px;
      color: white;
    }

    tr {
      padding: 1px 10px;
      display: flex;
      justify-content: space-between;
      text-align: center;
      .Name {
        width: 150px;
        text-align: left;
      }
      td,
      th {
        width: 70px;
        padding: 2px 3px;
      }
    }

    .PlayerWithTheBall {
      background-color: black;
      color: white;
    }
  }
}

.Team1 {
  .Head {
    background: rgba(255, 0, 0, 0.7);
  }
}

.Team2 {
  .Head {
    background: rgba(0, 0, 255, 0.7);
  }
}
