.TeamInfo {
  margin: 0 auto;
  justify-content: space-between;
  .Lignup {
    border-collapse: collapse;

    .Head {
      background: rgba(255, 0, 0, 0.7);
      padding: 3px;
      color: white;
    }

    tr {
      display: flex;
      justify-content: space-between;
      text-align: center;
      .Name {
        width: 150px;
        text-align: left;
      }
      td,
      th {
        width: 50px;
        padding: 2px 3px;
      }
    }
  }
}
